@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type="radio"]:checked + label {
    @apply text-fluorescentBlue;
  }
  .sibling-fade {
    visibility: hidden;
  }
  .sibling-fade > * {
    visibility: visible;
  }
  .sibling-fade > * {
    transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
  }
  .sibling-fade:hover > * {
    opacity: 0.4;
    transform: scale(0.9);
  }
  .sibling-fade > *:hover {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0ms, 0ms;
  }

  .suggested-btn {
    @apply w-max px-4 py-1 rounded-full font-bold bg-russianViolet-dark shadow-lg;
  }
}
